body {
    min-width:790px;
    min-height:590px;
}

.static-text {
    font-weight: normal;
}

.market_state_header {
  margin-bottom: 20px;
}

.market_state {
  margin-left: 20px;
}

.aligncenter {
  text-align: center;
}
